*{
    margin: 0;
    padding: 0;

}
.box{
    width: 1000px;
    height: 600px;
    background-color: blue;
    position: absolute;
}
.bo{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin-top: calc(600px - 325px);
    margin-left: calc(1000px - 150px);
}